@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  /* font-weight: normal;
  font-style: normal; */
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
}
